{{.Name}}:
  pkg.installed:
    - refresh: False
    - sources:
      - {{.Name}}: "salt://{{.Filepath}}"
    - refresh: False
    {{- if .Dependencies}}
    - require:
    {{end}}
       {{- range .Dependencies}}- pkg: {{.Name}}{{end}}